<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-3">
      <%= render 'list', book: @new_book, user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table">
        <tbody>
            <tr>
              <th>
                <%= link_to user_path(@user.id) do %>
                  <%= image_tag @book.user.get_profile_image(50,50) %><br>
                <% end %>
                  <%= link_to @book.user.name, user_path(@user.id) %>
              </th>
              <th><%= link_to @book.title, book_path(@book.id) %></th>
              <th><%= @book.body %></th>
              <% if @book.user == current_user %>
                <div class="form-group">
                <th><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success btn-sm" %></th>
                <th><%= link_to "Destroy", book_path(@book.id), class: "btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に消しますか？" %></th>
                </div>
              <% end %>
            </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>